doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title MZ

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    <h4>MikeZlot</h4>
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto

                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#team') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='mailto:michael.zlotkowski@gmail.com') Email
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#!') 602-370-6110
        // Masthead
        header.masthead
            .container
                .masthead-subheading What Do You See?
                .masthead-heading.text-uppercase Let Me Tell Your Story
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#team') GET TO KNOW ME
        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase What I Do
                    h3.section-subheading.text-muted 
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-air-freshener.fa-stack-1x.fa-inverse
                        h4.my-3 Branding
                        p.text-muted
                            | A Modern Perspective on Branding for Business. Offering Bi-Montly Branding Consultations, to discuss the Business Goals, and Find what Marketing, Visuals, and Graphics you Need!
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 Web Development
                        p.text-muted
                            | Design Websites to be Thoughtful and Fully Responsive on Any Device, from a Desktop, Tablet, or Phone Perspective. A Versatile Design is what Gives the User Appeal, and Helps your Brand Stand Out!
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-camera.fa-stack-1x.fa-inverse
                        h4.my-3 Photography
                        p.text-muted
                            | Original Content Always Starts with Great Photos. They do so much for Showcasing the Vision and Authenticity of what you are Presenting to the End User. Making a lasting Connection with those following your Journey.
        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Who I Am
                    h3.section-subheading.text-muted "I Focus on the Story behind who I represent, to create a comfortable representation behind what it means to be you."
                .row
                    .col-lg-12
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.png', alt='')
                            h4 Mike Zlotkowski
                            p.text-muted Branding Consultant, Web Developer, Photographer
                            a.btn.btn-dark.btn-social.mx-2(href='mailto:michael.zlotkowski@gmail.com')
                                i.fas.fa-envelope
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.tappy.tech/mikez')
                                i.fas.fa-user-tie
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/thesh_mikey/')
                                i.fab.fa-instagram
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | I appreciate you taking the time to get to know me. What I offer as a Freelancer and Entrepeneur, is that of a small marketing team built into one person that can help you grow your Brand, Web Presence, or Photo Game to document your life. I am overwhelmed with gratitude by those who have come to me to help tell their stories, and I look forward to telling yours! Contact me for a FREE Consultation!
        // Clients
        div.py-5
            .container
                .row
                    .col-md-3.col-sm-6.my-3
                        a(href='https://thesh.com/')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/theshGrayScale.png', alt='')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://hibitessd.com/')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/hibitesGrayScale.png', alt='')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://www.dbrez.com/')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/dbrezGrayScale.png', alt='')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://flawlesslaunches.com/')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/flawlessLaunchesGrayScale.png', alt='')
        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Portfolio
                    h3.section-subheading.text-muted Projects, Photographs, and Articles.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-external-link-alt.fa-6x
                                img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Web Creative
                                .portfolio-caption-subheading.text-muted UI Focused Web Development
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-external-link-alt.fa-6x
                                img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Photo Minded
                                .portfolio-caption-subheading.text-muted Personal and Authentic
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-external-link-alt.fa-6x
                                img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Fit and Finish
                                .portfolio-caption-subheading.text-muted Brand Identity and Working Components
                    //- .col-lg-4.col-sm-6.mb-4.mb-lg-0
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-external-link-alt.fa-6x
                    //-             img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg', alt='')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Lines
                    //-             .portfolio-caption-subheading.text-muted Branding
                    //- .col-lg-4.col-sm-6.mb-4.mb-sm-0
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-external-link-alt.fa-6x
                    //-             img.img-fluid(src='assets/img/portfolio/05-thumbnail.jpg', alt='')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Southwest
                    //-             .portfolio-caption-subheading.text-muted Website Design
                    //- .col-lg-4.col-sm-6
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-external-link-alt.fa-6x
                    //-             img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg', alt='')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Window
                    //-             .portfolio-caption-subheading.text-muted Photography
                    //- .col-lg-4.col-sm-6
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-toggle='modal', href='#portfolioModal7')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-external-link-alt.fa-6x
                    //-             img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg', alt='')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Window
                    //-             .portfolio-caption-subheading.text-muted Photography
                    //- .col-lg-4.col-sm-6
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-toggle='modal', href='#portfolioModal8')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-external-link-alt.fa-6x
                    //-             img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg', alt='')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Window
                    //-             .portfolio-caption-subheading.text-muted Photography
                    //- .col-lg-4.col-sm-6
                    //-     .portfolio-item
                    //-         a.portfolio-link(data-toggle='modal', href='#portfolioModal9')
                    //-             .portfolio-hover
                    //-                 .portfolio-hover-content
                    //-                     i.fas.fa-external-link-alt.fa-6x
                    //-             img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg', alt='')
                    //-         .portfolio-caption
                    //-             .portfolio-caption-heading Window
                    //-             .portfolio-caption-subheading.text-muted Photography
        // Footer
        footer.footer.py-4.bg-dark
            .container
                .row.align-items-center
                    .col-lg-12.my-3.my-lg-0
                        a.btn.btn-light.btn-social.mx-2(href='mailto:michael.zlotkowski@gmail.com')
                            i.fas.fa-envelope
                        a.btn.btn-light.btn-social.mx-2(href='https://www.tappy.tech/mikez')
                            i.fas.fa-user-tie
                        a.btn.btn-light.btn-social.mx-2(href='https://www.instagram.com/thesh_mikey/')
                            i.fab.fa-instagram
        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Web Creative
                                    p.item-intro.text-muted UI Focused Web Development
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/01-full.jpg', alt='')
                                    p The focus has significantly changed with the way that Websites need to be built, before the commonsense of getting as much as you can on the screen as possible, getting as much information infront of the End User as possible was a good thing. Then again the old design method was based off of Desktop Computers Alone. So now you take into consideration the fact that you not only do you need to have a Website that can look great when someone visits the Website on their Desktop Computer, but they also need to be able to view and navigate the Website easily when they visit on a Tablet, or Phone as well. More commonly the Average End User is visiting from a Mobile Device now, and this further makes the responsive design element mandatory moving forward. Websites are just applications at this point, or atleast thats the way I see it being presented, and what the most common business owner wants out of the Web Presence.
                                    ul.list-inline
                                        li Date: November 2020
                                        li Client: Business Journel Entry
                                        li Category: Web Development
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub

        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/02-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Explore
                                        li Category: Graphic Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/03-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Finish
                                        li Category: Identity
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/04-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Lines
                                        li Category: Branding
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/05-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Southwest
                                        li Category: Website Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Window
                                        li Category: Photography
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub
        // Modal 7
        #portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Window
                                        li Category: Photography
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub
        // Modal 8
        #portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Window
                                        li Category: Photography
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub
        // Modal 9
        #portfolioModal9.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Window
                                        li Category: Photography
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-angle-double-left.mr-1
                                        | BACK
                                    button.btn.btn-primary(href='#!')
                                        i.fab.fa-github
                                        | GitHub

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')